/* Custom Properties */

:root {
    --primario: #c2185b;
    --primarioObscuro: rgb(156, 10, 69);
    --secundario: #ffc107;
    --fuentePrimaria: 'Arial', 'Helvetica, sans-serif';
    --fuenteSecundaria: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-family: var(--fuentePrimaria);
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.bg-amarillo {
    background-color: var(--secundario);
}

.bg-blanco {
    background-color: #fff;
}

.barra {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.volver {
    background-color: var(--secundario);
    border-radius: 5px;
    text-align: center;
    color: black;
    font-style: 1.2rem;
    padding: .5rem;
}

.sombra {
    -webkit-box-shadow: 0px 12px 18px -3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 12px 18px -3px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

h1,
h2 {
    font-family: var(--fuentePrimaria);
    text-align: center;
    margin: 0;
}

h1 {
    padding: 20px;
    color: #fff;
}

h2 {
    font-size: 2rem;
    color: var(--primario);
}

.contenedor-barra {
    background-color: var(--primarioObscuro);
}


/* Formulario */

form {
    padding: 3rem;
    margin-top: 2rem;
}

form legend {
    font-family: var(--fuenteSecundaria);
    font-size: 2rem;
    text-align: center;
    display: inline;
}

legend span {
    font-size: 1rem;
    margin: 1rem 0;
    margin-bottom: 2rem;
    clear: both;
    display: block;
}

.campos {
    display: flex;
    flex-direction: column;
}

.campo {
    flex: 0 1 calc(33.3% - 1rem);
    align-self: center;
    padding: .5rem 0;
}

@media only screen and (min-width:768px) {
    .campos {
        flex-direction: row;
        justify-content: space-between;
    }
}

.campo label {
    font-size: 1.2rem;
}

.campo input[type="text"],
.campo input[type="tel"] {
    width: 100%;
    border: none;
    padding: .5rem;
    height: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
}

.enviar {
    display: flex;
    justify-content: flex-end;
}

.campo input[type="submit"] {
    border: none;
    color: #fff;
    background: var(--primario);
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all .5s ease;
    flex: 1;
}

.campo input[type="submit"]:hover {
    cursor: pointer;
    background: var(--primarioObscuro);
}

@media only screen and (min-width:768px) {
    .campo input[type="submit"] {
        flex: 0 0 auto;
    }
}


/* Contactos */

.contactos {
    padding: 2rem;
    margin-top: 3rem;
}

.contenedor-contactos {
    max-width: 800px;
    margin: 4rem auto 0 auto;
}

.buscador {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    margin: 2rem 0;
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

table thead {
    background-color: var(--primario);
    color: #fff;
    text-transform: uppercase;
}

table thead th {
    padding: 1rem 0;
}

table tbody td {
    padding: .5rem;
    text-align: center;
}

table tbody td:nth-child(4) {
    text-align: center;
}

table tbody button {
    background-color: transparent !important;
    border: none;
}

.btn {
    font-size: 2rem;
    text-decoration: none;
}

.btn-editar {
    color: var(--secundario);
}

.btn-borrar {
    color: var(--primario);
}

.contenedor-tabla {
    overflow: scroll;
}

.total-contactos {
    font-family: var(--fuenteSecundaria);
    margin: 2rem 0;
    text-align: center;
    color: var(--primario);
    font-size: 2rem;
}

.total-contactos span {
    font-size: 3rem;
    font-weight: 900;
}


/* Notificaciones */

.notificacion {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease;
}

.visible {
    opacity: 1;
}


/* Colores notificacion */

.correcto {
    background-color: rgb(179, 241, 117);
    color: green;
}

.error {
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}