html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
                                Author's custom styles
                                ========================================================================== */


/* Estilos globales */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}


/* Globales */

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%;
    }
}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
    }
}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 90%;
        max-width: 1100px;
    }
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 1.8em;
    color: #fe4918;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.button.transparent {
    background-color: transparent;
    border: 2px solid #fff;
}

.button.transparent:hover {
    border: 2px solid #fe4918;
}

.button {
    background-color: #fe4918;
    padding: 10px 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s easy;
    border: 2px solid #fe4918;
}

.button:hover {
    background-color: #e33000;
}

.button.hollow,
.button.hollow:hover {
    background-color: white;
    color: #fe4918;
}

.float-right {
    float: right;
}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}

.seccion {
    padding: 30px 0;
}

.seccion p {
    font-size: 1.2em;
    text-align: center;
}


/* Lettering */

h1.nombre-sitio span {
    position: relative;
    text-shadow: 0 0 30px #000;
}

@media only screen and (min-width:992px) {}


/* HEADER */

div.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

div.contenido-header {
    padding-top: 40px;
}

@media only screen and (min-width:768px) {
    div.contenido-header {
        padding-top: 10px;
    }
}

nav.redes-sociales {
    text-align: center;
}

nav.redes-sociales a {
    color: white;
    font-size: 2em;
    margin-right: 20px;
}

nav.redes-sociales a:last-child {
    margin-right: 0;
}

div.informacion-evento {
    text-align: center;
    color: #fff;
}

@media only screen and (min-width:768px) {
    div.informacion-evento {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}

div.informacion-evento p {
    margin: 0;
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}

div.informacion-evento p i {
    color: #fe4918;
    font-size: 2.4em;
}

p.fecha {
    float: left;
}

p.ciudad {
    float: right;
    text-align: right;
}

div.informacion-evento p.slogan {
    text-transform: none;
}

div.informacion-evento p.slogan span {
    font-weight: bold;
}

h1.nombre-sitio {
    font-size: 5.9vw;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
}

@media only screen and (min-width:768px) {
    h1.nombre-sitio {
        font-size: 11.5vw;
        margin: 0;
        line-height: 1;
    }
}


/* <!-- Barra de manu --> */

div.barra {
    background-color: #353535;
    padding: 20px 0;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

div.logo {
    width: 80%;
    float: left;
}

div.logo img {
    width: 100%;
}

@media only screen and (min-width:768px) {
    div.logo {
        width: 33%;
    }
}


/* Navegacion Principal */

nav.navegacion-principal {
    display: none;
    width: 100%;
}

nav.navegacion-principal a {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s easy;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

nav.navegacion-principal a:last-child {
    margin-bottom: 0;
}

nav.navegacion-principal a:hover {
    background-color: #fe4918;
}

nav.navegacion-principal a:last-child {
    border: 2px solid #fe4918;
    color: #fe4918;
}

nav.navegacion-principal a:last-child:hover {
    color: #fff;
    ;
}

@media only screen and (min-width:768px) {
    nav.navegacion-principal {
        width: 67%;
        float: right;
        text-align: right;
        display: inline-block;
    }
    nav.navegacion-principal a {
        margin: 0 10px 0 0;
        padding: 10px 7px;
        display: inline-block;
        width: auto;
        text-align: center;
    }
    nav.navegacion-principal a:last-child {
        margin-right: 0;
    }
}


/* Menu movil */

div.menu-movil {
    width: 60px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}

@media only screen and (min-width:768px) {
    div.menu-movil {
        display: none;
        width: 100%;
    }
}

div.menu-movil span {
    height: 8px;
    margin-bottom: 6px;
    background-color: #fff;
    display: block;
}


/* End Menu movil */


/* Section Programa Evento */

section.programa {
    position: relative;
}


/* ********** CORREGIR ********** */

div.contenedor-video {
    max-width: 100%;
    overflow-x: hidden;
}


/****** CORREGIR ********** */

div.contenido-programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.programa-evento {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin-top: 80px;
}

@media only screen and (min-width:768px) {
    div.programa-evento {
        width: 70%;
    }
}

@media only screen and (min-width:992px) {
    div.programa-evento {
        width: 50%;
    }
}

nav.menu-programa {
    width: 100%;
}

@media only screen and (min-width:768px) {
    nav.menu-programa {
        display: table;
    }
}

nav.menu-programa a {
    display: block;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    font-size: 1.2em;
    padding-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #fe4918;
}

nav.menu-programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/talleres-flecha.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    bottom: -20px;
}

@media only screen and (min-width:768px) {
    nav.menu-programa a {
        display: table-cell;
    }
}

nav.menu-programa a i,
div.detalle-evento p i {
    color: #fe4918;
    font-size: 1.6em;
    margin-right: 10px;
}


/* Detalles del evento */

div.detalle-evento {
    border-bottom: 1px solid #000;
    padding: 20px;
}

div.detalle-evento:nth-child(2) {
    border: none;
}

div.detalle-evento p {
    margin-bottom: 20px;
    font-size: 20px;
}

.ocultar {
    display: none;
}


/* iNVITADOS */

UL {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.lista-invitados li {
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px) {
    ul.lista-invitados li {
        width: 50%;
    }
}

@media only screen and (min-width:768px) {
    ul.lista-invitados li {
        width: 33.3%;
    }
}

div.invitado {
    position: relative;
    overflow: hidden;
}

div.invitado img {
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}

div.invitado:hover img {
    filter: gray;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
    /* transform: rotate(1.2deg); */
}

div.invitado p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    text-align: left;
    width: 100%;
    color: #fe4918;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.55);
    -webkit-transition: all .5s ease-in-out;
}

div.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}


/* Contador */

.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
}

div.contador {
    position: relative;
    height: auto;
}

div.contador::before {
    content: '';
    background-image: url(../img/bg-resumen.jpg);
}

ul.resumen-evento {
    position: relative;
    padding: 120px 0;
}

ul.resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

p.numero {
    font-family: 'Oswald', sans-serif;
    color: #fe4918;
    font-size: 4em;
    display: block;
    margin: 0 0 10px 0;
}

@media only screen and (min-width:768px) {
    ul.resumen-evento li {
        width: 25%;
    }
}


/* Lista Precios */

ul.lista-precios>li {
    padding: 10px;
}

@media screen and (min-width:768px) {
    ul.lista-precios>li {
        float: left;
        width: 33.3%;
    }
}

div.tabla-precio {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
    transition: all .3s ease;
}

div.tabla-precio:hover {
    transform: scale(1.1);
    border: 1px solid #fe4918;
    box-shadow: 0px 0px 50px #666;
}

div.tabla-precio ul li {
    font-family: 'PT Sans', sans-serif;
    font-style: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #868686;
    line-height: 26px;
}

div.tabla-precio ul li::before {
    content: '\f00c';
    font-family: 'FontAwesome';
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-style: 20px;
    color: green;
    -webkit-font-smoothing: antialiased;
}

div.tabla-precio h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: red
}

div.tabla-precio p.numero {
    color: #000000;
    margin: 20px;
}


/* Mapa */

div.mapa {
    background-color: green;
    height: 300px;
}


/* Testimoniales */

div.testimoniales {
    padding: 20px;
}

div.testimonial {
    padding: 5px;
}

@media only screen and (min-width:768px) {
    div.testimonial {
        float: left;
        width: 33.3%;
    }
}

blockquote {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

blockquote p {
    text-align: left !important;
    font-style: 1em !important;
    font-family: 'PT Sans', sans-serif;
    padding: 0 20px 0 65px;
}

blockquote p::before {
    position: absolute;
    content: '\201c';
    font-family: 'FontAwesome';
    left: 5px;
    font-size: 8rem;
    padding: 0;
    margin: 0;
    top: 5px;
    color: #fe4918;
    line-height: 1;
}

footer.info-testimonial {
    padding: 0;
    background-color: transparent;
}

footer.info-testimonial img {
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 20px;
}

footer.info-testimonial cite {
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}

footer.info-testimonial cite span {
    color: #000;
    text-transform: none;
    display: block;
}


/* NEwsletter */

div.newsletter {
    position: relative;
    height: auto;
}

div.newsletter::before {
    background-image: url(../img/bg-newsletter.jpg);
    content: '';
}

div.newsletter .contenido {
    padding: 100px 0;
    color: #fff;
    text-align: center;
    position: relative;
}

div.newsletter .contenido p {
    font-size: 1.2em;
    text-transform: lowercase;
}

div.newsletter .contenido h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 7vw;
    font-family: 'PT Sans', sans-serif;
}


/* Cuenta REgresiva */

div.cuenta-regresiva ul li {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

@media only screen and (min-width:768px) {
    div.cuenta-regresiva ul li {
        width: 25%;
        float: left;
    }
}


/* Footer */

footer {
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
}

footer .contenedor>div {
    color: #fff;
    padding: 0 20px;
    font-size: 12px;
}

@media only screen and (min-width:768px) {
    footer .contenedor>div {
        width: 33.3%;
        float: left;
    }
}

footer h3 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer h3 span {
    color: #fe4918;
}

footer .ultimos-tweets li {
    margin-bottom: 10px;
}

footer nav.redes-sociales {
    text-align: left;
}

p.copy {
    background-color: #2e2e2e;
    color: white;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    margin-top: 20px;
}


/*
 * ─── INTERNAS galeria ───────────────────────────────────────────────────────────────────
 */

div.galeria a {
    display: inline-block;
    margin-bottom: 5px;
}

.navegacion-principal .activo {
    border-bottom: 2px solid #fe4918;
}


/*
* ─── PAGINA REGISTRO ────────────────────────────────────────────────────────────
*/

form.registro h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}

form.registro label {
    margin-bottom: 5px;
    font-weight: bold;
}

h4 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fe4918;
    padding-bottom: 10px;
    font-size: 1.2em;
}

div.caja {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin: 10px;
}

div.campo {
    padding: 20px;
}

@media only screen and (min-width:768px) {
    div.campo {
        float: left;
        width: 33.3;
    }
}

div.caja-flexible {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width:768px) {
    div.caja-flexible {
        flex-direction: column;
    }
    div.campo-flexible {
        padding: .4rem;
    }
}

div.paquetes div.tabla-precio:hover {
    transform: none;
    box-shadow: none;
}

div.paquetes div.tabla-precio input {
    clear: both;
    width: 100px;
    margin: 10px auto 0 auto;
    display: block;
}

.contenido-dia {
    display: none;
    flex-wrap: wrap;
    padding: 20px;
}

.contenido-dia>div {
    flex: 1 1 0px;
    padding: .4rem;
}

.contenido-dia h4 {
    flex: 0 1 100%;
}

@media only screen and (max-width:768px) {
    .contenido-dia {
        flex-direction: column;
    }
}

.contenido-dia>div p {
    text-align: left;
}

.contenido-dia>div label {
    display: block;
    margin-bottom: 10px;
}

.contenido-dia>div input {
    margin-right: 10px;
}

.contenido-dia>div label time {
    color: #fe4918;
    font-weight: bold;
}


/* RESUMEN */

.resumen p {
    font-size: 1.2em;
    text-transform: uppercase;
}

div.resumen div.extras {
    float: left;
    width: 50%;
    padding: 30px
}

div.extras div.orden {
    text-align: left;
    margin-bottom: 10px;
}

div.extras div.orden input {
    margin: 10px 0 0 0;
}

div.resumen div.total {
    float: right;
    width: 50%;
    padding: 30px;
}

div.resumen input {
    display: block;
    margin: 10px auto;
}

#lista-productos {
    background-color: #e1e1e1;
    padding: 10px;
    text-align: center;
    display: none;
}

#suma-total {
    text-align: center;
    font-size: 2em;
    color: #fe4918;
}


/*
* ─── END PAGINA REGISTRO ────────────────────────────────────────────────────────
*/


/*
 * ─── CALENDARIO ─────────────────────────────────────────────────────────────────
 */

div.calendario::after {
    clear: both;
    display: block;
    content: '';
}

div.calendario h3 {
    background-color: #fe4819;
    clear: both;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

div.dia {
    width: 50%;
    float: left;
    border: 2px solid #e1e1e1;
    text-align: center;
    transition: all .3s ease;
}

@media only screen and (min-width:768px) {
    div.dia {
        width: 33.3%;
        min-height: 240px;
        padding-top: 20px;
    }
}

div.dia:hover {
    background-color: #e1e1e1;
    -webkit-transform: scale(1.1);
}

div.dia p.titulo {
    color: #fe4918;
    text-transform: uppercase;
    font-weight: bold;
}

div.dia p {
    font-size: 1em;
}

div.dia i {
    color: #fe4918;
    font-size: 1.6em;
}


/* End Calendario */


/* Fin de mi codgo */

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " ("attr(href) ")";
    }
    abbr[title]:after {
        content: " ("attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}